table{
    margin: auto;
    border: none;
    width: 80%;
}

table th{
    background-color: #fff;
    height: 50px;
    border: none;
    /* border: 1px solid black; */
    font-size: 18px;
}

table tbody{
    text-align: center;
	font-size: 18px;
}

td {
    border: none;
    height: 30px;
}

img {
    width: 200px;
}